{% extends 'base.html' %}
{% block conteudo %}
<h2>Lista de Produtos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Pre&ccedil;o</th>
        </tr>
    </thead>
    <tbody>
        {% for p in produtos %}
        <tr>
            <td>{{ p.nome }}</td>
            <td>R$ {{ p.preco }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Nenhum produto cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
